<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
  </head>
  <body>
<div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="http://localhost:5000/#">Home</a>
                    </li>
                
                </ul>
            </nav>
            <h3 class="text-muted">App Analyser</h3>
        </div>
<div class="jumbotron">
{% for a in name %}
	<h3><font color="#2E9233"><b>Name:</b>{{ a[1] }}</font></h3>
	<br>
	<b>Category: </b>{{ a[0][0] }}
	<br>
	<img src = {{ a[4] }} height="100" width="100">
	<br>
	<b>Price: </b>{{ a[2] }}
	<br>
	<b>Rating:</b> {{ a[3] }}
	<br>
	<b>Description: </b>{{ a[5] }}
	<br>
	<br>
{% endfor %}
<!--{% for result in name[1] %}
<p>{{ result }}</p>
{% endfor %}
{% for result in name[2] %}
<p>{{ result }}</p>
{% endfor %}
{% for result in name[3] %}
<p>{{ result }}</p>
{% endfor %}
{% for result in name[4] %}
<p>{{ result }}</p>
{% endfor %}
{% for result in name[5] %}
<p>{{ result }}</p>
{% endfor %}-->
<!--<table>
<tr>
<th> {{ key }} </th>
<td> {{ value }}</td>-->
</div>
</div>
</body>
</html>