<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
  </head>
  <body>
<div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="http://localhost:5000/#">Home</a>
                    </li>
                
                </ul>
            </nav>
            <h3 class="text-muted">App Analyser</h3>
        </div>
<div class="jumbotron">
{% for result in name %}
	{{ result[0][2] }}
           <!-- <tr>
                <p><td>{{ result[0][1] }}</td></p>
                <p><td>{{ result[1] }}</td></p>
                <p><td>{{ result[2] }}</td></p>
				<p><td>{{ result[3] }}</td></p>
                <p><td>{{ result[4] }}</td></p>
            </tr>-->
{% endfor %}
<!--{% for result in name[1] %}
<p>{{ result }}</p>
{% endfor %}
{% for result in name[2] %}
<p>{{ result }}</p>
{% endfor %}
{% for result in name[3] %}
<p>{{ result }}</p>
{% endfor %}
{% for result in name[4] %}
<p>{{ result }}</p>
{% endfor %}
{% for result in name[5] %}
<p>{{ result }}</p>
{% endfor %}-->
<!--<table>
<tr>
<th> {{ key }} </th>
<td> {{ value }}</td>-->
</div>
</div>
</body>
</html>