<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
   
    
  </head>
 
  <body>

<div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="http://localhost:5000/#">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">App Analyser</h3>
      </div>
<table>
<tr>
<td>
<div class="jumbotron">
            <h3>App search</h3>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="appSearch" role="button">Search</a>
            </p>
        </div>
</td>
<td>
<div class="jumbotron">
            <h3>App comparison</h3>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="appCompare" role="button">Compare</a>
            </p>
        </div>
</td>
</tr>
<tr>
<td>
<div class="jumbotron">
            <h3>Similar Apps</h3>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="similarApp" role="button">Search</a>
            </p>
        </div>
</td>
<td>
<div class="jumbotron">
            <h3>Top Apps</h3>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="topApp" role="button">Search</a>
            </p>
        </div>
</td>
</tr>
</table>
</div>
</body>
</html>